<html ng-app="netgraph" ng-controller="HttpListCtrl">
    <head>
        <title>[{{streams.length}}] NetGraph</title>
        <script src="/lib/jquery-1.9.1.min.js"></script>
        <script src="/lib/snap.svg-min.js"></script>
        <script src="/lib/angular.min.js"></script>
        <script src="/lib/angular-websocket.js"></script>
        <script src="/main.js"></script>
        <link href="/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>NetGraph</h1>
        <div class="requests">
            <table width="100%">
                <thead>
                    <tr>
                    <th width="5%">Stream</th>
                    <th width="5%">Time</th>
                    <th width="10%">Method</th>
                    <th width="60%">Uri</th>
                    <th width="10%">Code</th>
                    <th width="10%">Reason</th>
                    </tr>
                </thead>
                <tr ng-repeat="req in reqs" ng-click="showDetail(req)">
                    <td>{{ req.StreamSeq }}</td>
                    <td>{{ req.Timestamp }}</td>
                    <td>{{ req.Method }}</td>
                    <td title="{{ req.Uri }}">{{ req.Uri }}</td>
                    <td>{{ req.Response.Code }}</td>
                    <td>{{ req.Response.Reason }}</td>
                </tr>
            </table>
        </div>
        <div id="detail" style="width:100%">
            <div id="request-detail" class="http-detail" style="float: left;">
                <div id="request-first-line" class="first-line"></div>
                <div id="request-head">
                    <table>
                    </table>
                </div>
            </div>
            <div id="response-detail" class="http-detail" style="float: right;">
                <div id="response-first-line" class="first-line"></div>
                <div id="response-head">
                    <table>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>