<html ng-app="netgraph" ng-controller="HttpListCtrl">
    <head>
        <title>[{{reqs.length}}] NetGraph</title>
        <script src="/lib/jquery-1.9.1.min.js"></script>
        <script src="/lib/base64.js"></script>
        <script src="/lib/angular.min.js"></script>
        <script src="/lib/angular-websocket.js"></script>
        <script src="/main.js"></script>
        <link href="/main.css" rel="stylesheet">
    </head>
    <body>
        <h2>NetGraph</h2>
        Filter:
        <select ng-model="filterType">
            <option value="URI">URI</option>
            <option value="Cookie">Cookie</option>
            <option value="Code">Code</option>
            <option value="RequestHeader">Request Header</option>
            <option value="ResponseHeader">Response Header</option>
            <option value="RequestBody">Request Body</option>
            <option value="ResponseBody">Response Body</option>
        </select>
        <input ng-model="pattern">
        Sorted by:
        <select ng-model="order">
            <option value="Start">Start</option>
            <option value="Host">Host</option>
            <option value="Duration">Duration</option>
            <option value="StreamSeq">Stream</option>
            <option value="URI">URI</option>
        </select>
        Reverse<input type="checkbox" ng-model="reverse"/>
        <div class="requests">
            <table width="100%">
                <thead>
                    <tr>
                    <th width="5%">Method</th>
                    <th width="15%">Host</th>
                    <th>URI</th>
                    <th width="5%">Code</th>
                    <th width="10%">Start</th>
                    <th width="6%">Duration</th>
                    <th width="5%">Stream#</th>
                    </tr>
                </thead>
                <tr ng-repeat="req in reqs | reqFilter:filterType:pattern | orderBy:order:reverse" ng-click="showDetail($event, req)">
                    <td>{{ req.Method }}</td>
                    <td style="text-align:center">{{ req.Host }}</td>
                    <td><a href="http://{{getHost(req)}}{{req.URI}}" target="_blank">{{ req.URI }}</a></td>
                    <td style="text-align:center">{{ req.Response.Code }}</td>
                    <td>{{ req.Start | date : 'HH:mm:ss.sss' }}</td>
                    <td style="text-align:right">{{ req.Duration }} ms</td>
                    <td style="text-align:center">{{ req.StreamSeq }}</td>
                </tr>
            </table>
        </div>
        <div id="detail" style="width:100%">
            <div id="request-detail" class="http-detail" style="float: left;">
                <div id="request-first-line" class="first-line">
                    {{ selectedReq.Method }} {{ selectedReq.URI }} {{ selectedReq.Version }}
                </div>
                <div id="request-head" class="head">
                    <table width="100%">
                        <tr ng-repeat="h in selectedReq.Headers">
                            <td width="30%">{{ h.Name }}</td>
                            <td width="70%"><p class="break-all">{{ h.Value }}</p></td>
                        </tr>
                    </table>
                </div>
                <p id="request-body" class="body">{{ selectedReq.Body }}</p>
            </div>
            <div id="response-detail" class="http-detail" style="float: right;">
                <div id="response-first-line" class="first-line">
                    {{ selectedReq.Response.Version }} {{ selectedReq.Response.Code }} {{ selectedReq.Response.Reason }}
                </div>
                <div id="response-head" class="head">
                    <table width="100%">
                        <tr ng-repeat="h in selectedReq.Response.Headers">
                            <td width="30%">{{ h.Name }}</td>
                            <td width="70%"><p class="break-all">{{ h.Value }}</p></td>
                        </tr>
                    </table>
                </div>
                <p id="response-body" class="body">{{ selectedReq.Response.Body }}</p>
            </div>
        </div>
    </body>
</html>