.requests {
    height: 400px;
    overflow: scroll;
}
.http-detail {
    width: 49%;
    height: 250px;
    border: 1px solid;
    overflow: scroll;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
table {
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    table-layout: fixed;
}
.body {
    width: 100%;
    word-break: break-all;
    white-space: pre;
}
.break-all {
    word-break: break-all;
    overflow: auto
}

.requests td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table tr:nth-child(odd):hover {
    background-color: yellow;
}
table tr:nth-child(even):hover {
    background-color: yellow;
}

.first-line {
    font-weight: bold;
}
